//Additionally

.additionally__products {
  margin: 20px 0 13px 2px;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 62px 0 14px 1px;
  }

  @media (min-width: $desktop-width) {
    margin: 64px 0 14px 1px;
  }
}

.additionally__products-caption {
  margin: 0 0 16px -15px;

  @include description-inputs;

  @media (min-width: $tablet-width) {
    margin: 0 0 37px -15px;

    @include medium-title;
  }
}

//Additionally__products-list

.additionally__products-list {
  margin: 7px 0 7px 0;

  @include label;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include title-tablet-desktop-auto;
  }
}

.additionally__products-item {
  & .additionally__products-label {
    position: relative;
    display: block;
    width: 162px;
    padding: 4px 76px 5px 0;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    width: 291px;
  }
}

.additionally__products-checkbox {
  &:disabled + .additionally__products-label {
    opacity: 0.3;
  }
}

.additionally__products-checkbox-filter {
  & + .additionally__products-label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -46px;
    width: 28px;
    height: 28px;
    border: 1px solid $less-gray;

    @media (min-width: $tablet-width) {
      top: -7px;
      left: -59px;
      width: 38px;
      height: 38px;
    }
  }

  & + .additionally__products-label:hover::before {
    border: 1px solid $least-gray;
  }

  &:checked + .additionally__products-label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -40px;
    width: 20px;
    height: 20px;
    background-image: url("../../img/icon-check-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      left: -48px;
    }
  }
}

.additionally__products-label {
  margin: 15px 0 14px -5px;

  @media (min-width: $tablet-width) {
    margin: 15px 0 30px 7px;
  }

  @media (min-width: $desktop-width) {
    margin: 15px 0 30px 6px;
  }
}
