//Additionally

.additionally__information {
  margin: 20px 0 13px 2px;
  border: none;
}

.additionally__information-caption {
  margin: 0 0 16px -15px;

  @include description-inputs;
}

.additionally__information-list {
  margin: 7px 0 7px -40px;

  @include label;
  color: $black;
}

.additionally__information-label {
  &[disabled] {
    opacity: 0.3;
  }
}

.additionally__information-checkbox {
  margin: 15px 25px 14px -5px;
}
