//Additional-products

// -Дополнительные товары- //

//Контейнер дополнительных товаров
.additional-products {
  @media (min-width: $desktop-width) {
    margin: 55px 0 73px 42px;
  }
}

//Обертка дополнительных товаров
.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

//Зоголовок "Дополнительные товары"
.additional-products__title {
  position: relative;
  margin: 25px 0 35px 20px;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  //Зеленая полоса справа
  &::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 0;
    width: 53px;
    height: 2px;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    margin: 53px 0 80px 66px;

    @include medium-title;

    //Зеленая полоса слева
    &::before {
      position: absolute;
      content: "";
      top: 22px;
      left: -67px;
      width: 30px;
      height: 2px;
      background-color: $green;
    }

    //Зеленая полоса справа
    &::after {
      top: 21px;
      right: 1px;
      width: 327px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 66px 69px;

    //Зеленая полоса слева
    &::before {
      top: 23px;
      left: -108px;
      width: 70px;
    }

    //Зеленая полоса справа
    &::after {
      top: 23px;
      right: 0;
      width: 957px;
    }
  }
}

//Список доплнительных товаров
.additional-products__list {
  @media (min-width: $desktop-width) {
    width: 894px;
    margin-left: 28px;
  }
}

//Конкретный товар
.additional-products__item {
  margin: 0 20px 0 -20px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid $dark-grey;

  &:nth-child(1) {
    border-top: 1px solid $dark-grey;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    margin: 0 30px -1px -10px;
    padding: 14px 37px 14px 37px;
    border: 1px solid $dark-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 -1px 0;
    padding: 10px 0 5px 0;
    border-left: none;
    border-right: none;
  }
}

//Обертка конкретного товара
.additional-products__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

//Название конкретного товара
.additional-products__label {
  margin: 13px 0 -1px 1px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $light-black;

  @media (min-width: $tablet-width) {
    @include title-tablet-desktop;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin: 15px 0 0 1px;
  }
}

//Обертка харктеристики и цены товара
.additional-products__text {
  display: flex;
  justify-content: space-between;
  padding: 1px 0 0 0;
  font-size: 14px;
  line-height: 14px;
  font-family: $arial;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    @include catalog-title-arial;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    width: 287px;
  }
}

//Цена товара
.additional-products__price {
  @media (min-width: $tablet-width) {
    width: 93px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

//Кнопка "Заказать"
.additional-products__button {
  margin: 5px 0 12px 0;

  @media (min-width: $tablet-width) {
    width: 592px;
  }

  @media (min-width: $desktop-width) {
    width: 204px;
    height: 20px;
    margin: 5px 0;
  }
}

//Обертка акционного предложения
.additional-products__offer-wrapper {
  position: relative;
  display: flex;
  width: 280px;
  height: 290px;
  margin: 39px 0 34px 20px;

  @include catalog-title-arial;
  color: $white;
  background-color: $green;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  //Добавление иконки "подарок"
  &::before {
    position: absolute;
    content: "";
    top: 66px;
    left: 112px;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
  }

  //Ретинизация графики
  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
    background-size: 280px, auto;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: 708px;
    height: 200px;
    margin: 70px 0 75px 30px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    //Позиционирование иконки "подарок"
    &::before {
      top: 63px;
      left: 89px;
      width: 62px;
      height: 62px;
    }

    //Ретинизация графики
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
      background-size: 708px, auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    margin: 14px 0 0 80px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    //Позиционирование иконки "подарок"
    &::before {
      left: 97px;
    }

    //Ретинизация графики
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
      background-size: 245px, auto;
    }
  }
}

//Текст акционного предложения
.additional-products__offer {
  align-self: flex-end;
  padding: 27px 58px;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 228px;
    padding-top: 28px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    padding: 0 9px 26px 0;
    text-align: center;
  }
}

// -Дополнительные товары- //
