//Advantages

// -"Как это работает"- //

//Контейнер "Как это работает"
.advantages {
  margin-bottom: 21px;

  @media (min-width: $desktop-width) {
    margin: 57px 0 0 80px;
  }
}

//Заголовок
.advantages__title {
  margin: 28px 0 39px 20px;

  @include titie;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 15px 0 0 31px;

    @include title-tablet-desktop-big;
  }
}

//Список преимущест
.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 0 30px;
    padding: 185px 0 102px 0;
    border-bottom: 1px solid $light-gray;
    background-image:
      url("../../img/one.svg"),
      url("../../img/two.svg"),
      url("../../img/three.svg"),
      url("../../img/four.svg");
    background-position: 125px 72px, 505px 72px, 125px 387px, 508px 387px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    border: none;
    background-position: 126px 70px, 449px 70px, 775px 70px, 1100px 70px;
  }
}

//Отдельный пункт преимуществ
.advantages__item {
  position: relative;
  padding: 2px 20px 24px 60px;
  font-family: $arial;
  color: $special-dark-grey;

  //Добаление графических элементов "зеленые квадраты"
  &::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -20px;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  //Добавление иконок на "зеленые квадраты"
  &:nth-child(1) {
    &::before {
      background-image: url("../../img/advantage-leaf@1x.png");
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url("../../img/advantage-powder@1x.png");
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url("../../img/advantage-dining@1x.png");
    }
  }

  &:nth-child(4) {
    &::before {
      background-image: url("../../img/advantage-clock@1x.png");
    }
  }

  //Ретинизация иконок
  @media (min-resolution: 2dppx) {
    &:nth-child(1) {
      &::before {
        background-image: url("../../img/advantage-leaf@2x.png");
        background-size: 30px auto;
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url("../../img/advantage-powder@2x.png");
        background-size: 29px auto;
      }
    }

    &:nth-child(3) {
      &::before {
        background-image: url("../../img/advantage-dining@2x.png");
        background-size: 25px auto;
      }
    }

    &:nth-child(4) {
      &::before {
        background-image: url("../../img/advantage-clock@2x.png");
        background-size: 32px auto;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 354px;
    padding: 0;

    @include title-tablet-desktop-description;

    //Позиционирование графических элементов "зеленые квадраты"
    &:nth-child(1),
    &:nth-child(2) {
      &::before {
        position: absolute;
        content: "";
        top: -113px;
        left: 1px;
        width: 80px;
        height: 80px;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      padding-top: 245px;

      &::before {
        position: absolute;
        content: "";
        top: 132px;
        left: 1px;
        width: 80px;
        height: 80px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;

    //Позиционирование графических элементов "зеленые квадраты"
    &:nth-child(1) {
      padding-right: 123px;
    }

    &:nth-child(2) {
      padding-right: 105px;
    }

    &:nth-child(3) {
      padding: 0 120px 0 0;
    }

    &:nth-child(4) {
      padding-top: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      &::before {
        position: absolute;
        content: "";
        top: -113px;
        left: 1px;
        width: 80px;
        height: 80px;
      }
    }
  }
}

// -"Как это работает"- //
