//Advantages

.advantages {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin: 57px 0 0 80px;
  }
}

.advantages__title {
  margin: 25px 0 40px 20px;

  @include titie;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 15px 0 0 31px;

    @include title-tablet-desktop-big;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 185px 0 0 -10px;
    padding-bottom: 100px;
    border-bottom: 1px solid $light-gray;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    border: none;
  }
}

.advantages__item {
  padding: 0 25px 27px 60px;
  font-family: $arial;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 354px;
    padding: 0;

    @include title-tablet-desktop-description;

    &:nth-child(3),
    &:nth-child(4) {
      padding-top: 245px;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;

    &:nth-child(1) {
      padding-right: 123px;
    }

    &:nth-child(2) {
      padding-right: 105px;
    }

    &:nth-child(3) {
      padding: 0 120px 0 0;
    }

    &:nth-child(4) {
      padding-top: 0;
    }
  }
}
