//Button

.button {
  display: block;
  width: 240px;
  padding: 10px 20px;

  @include catalog-title;
  text-align: center;
  color: $white;
  background-color: $green;

  &:hover {
    background-color: $green-hover-active;
  }

  &:active {
    color: rgba($white, 0.3%);
    background-color: $green-hover-active;
  }
}
