//Кнопка

.button {
  min-width: 280px;
  margin: 0 0 0 20px;
  padding: 11px 0;
  font-style: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $green;

  &:hover {
    background-color: $green-hover-active;
  }

  &:active {
    color: rgba($white, 0.3%);
    background-color: $green-hover-active;
  }
}
