//Button__slider

//Общие правила для кнопок слайдера
.button__slider {
  padding: 0;

  @include catalog-title;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted rgba($black, 0.3);
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid rgba($black, 0.3);
  }

  &:active {
    border-bottom: 1px solid rgba($black, 0);
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    font-weight: normal;

    @include title-tablet-desktop-auto;
  }
}
