//Catalog

// -Каталог продукции- //

//Обертка каталога
.catalog {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 72px 0 0 90px;
  }
}

//Заголовок каталога
.catalog__title {
  margin: 27px 0 0 0;
  padding: 0 20px 40px;

  @include medium-title;
  border-bottom: 1px solid $grayish;

  @media (min-width: $tablet-width) {
    @include title-tablet-desktop-big ;
    margin: 57px 0 0 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 57px 0 1px 0;
  }
}

//Список товаров
.catalog__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

//Конкретны товор
.catalog__item {
  position: relative;
  margin-left: -40px;
  padding: 1px 20px 22px 20px;
  border-bottom: 1px solid $grayish;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 324px;
    height: 511px;
    margin: 43px 80px 16px -20px;
    padding: 40px;
    background: linear-gradient(to top, $hoar 430px, $white 161px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 43px 20px 20px -20px;
    padding: 39px;
  }
}

//Обертка ссылки товара
.catalog__link {
  display: flex;
  min-height: 140px;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    width: 340px;
    min-height: auto;
  }
}

//Заголовок ссылки товара
.catalog__link-title {
  order: 2;
  width: 76px;
  height: 40px;
  margin-top: 20px;

  @include catalog-title;
  color: $light-black;

  @media (min-width: $tablet-width) {
    width: 130px;
    text-align: center;
    margin: 0 auto;

    @include catalog-name-tablet-desktop;
  }
}

//Иконка ссылки товара
.catalog__link-image {
  @media (min-width: $tablet-width) {
    width: 340px;
    margin: 0 0 19px 0;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0 0 35px 48px;
  }
}

//Характеристики товара
.catalog__description {
  position: absolute;
  top: 62px;
  left: 160px;
  width: 140px;

  @include description-text;

  @media (min-width: $tablet-width) {
    position: static;
    width: 246px;
    padding-bottom: 14px;

    @include catalog-description-tablet-desktop;
  }

  @media (min-width: $desktop-width) {
    width: 167px;
    padding-bottom: 16px;
  }
}

//Конкретный пункт характеристики товара
.catalog__text-value {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    border-bottom: 1px solid $less-gray;
  }
}

//Копка "Заказать"
.catalog__button {
  margin: -2px 0 0 0;
}

// -Показать остальные товары- //

//Пункт спииска "показать остальные товары"
.catalog__show-all {
  position: relative;
  margin-left: -40px;
  padding: 0 0 0 20px;
  border-bottom: 1px solid $grayish;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -39px;
    left: 145px;
    width: 30px;
    height: 2px;
    background-color: $grey-plus;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    height: 431px;
    margin-top: 124px;
    padding: 40px;
    text-align: center;
    background: $white;
    border: 2px solid $grey;

    &::before,
    &::after {
      top: 83px;
      left: 131px;
      width: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: -20px;

    &::before,
    &::after {
      top: 80px;
      left: 91px;
    }
  }
}

//Обертка остальных товаров
.catalog__show-all-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

//Зоголовок остальных товаров
.catalog__show-all-title {
  margin: 79px 0 0 39px;

  @include catalog-title;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 0 -12px 0;

    @include catalog-all-tablet-desktop;
  }
}

//Описание остальных товаров
.catalog__show-all-text {
  margin: 7px 0 0 29px;

  @include description-text;
  color: $blackish;

  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 20px;
    padding: 16px;

    @include label;
    text-transform: none;
  }
}

//Кнопка остальных товаров
.catalog__show-all-button {
  margin: 21px 0 24px 0;
  color: $special-dark-grey;
  background-color: $grey;

  &:hover {
    background-color: $grayish;
  }

  &:active {
    color: rgba($special-dark-grey, 0.3%);
    background-color: $grayish;
  }

  @media (min-width: $tablet-width) {
    margin: 50px 0 -4px 0;
  }
}

// -Показать остальные товары- //

// -Каталог продукции- //
