//Catalog

.catalog__title {
  padding: 0 20px 35px;

  @include medium-title;
  border-bottom: 1px solid $grayish;
}

.catalog__item {
  margin-left: -40px;
  padding: 0 20px 25px 20px;
  border-bottom: 1px solid $grayish;
}

.catalog__link-title {
  display: inline-block;
  width: 76px;

  @include catalog-title;
  color: $light-black;
}

.catalog__description {
  @include description-text;
}
