//Catalog-show-all

.catalog-show-all {
  padding-left: 20px;
  border-bottom: 1px solid $grayish;
}

.catalog-show-all__title {
  margin: 80px 0 -5px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-show-all__text {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $special-dark-grey;
}

.catalog-show-all__button {
  margin: 20px 0 25px 0;
  color: $special-dark-grey;
  background-color: $grey;

  &:hover {
    background-color: $grayish;
  }

  &:active {
    color: rgba($special-dark-grey, 0.3%);
    background-color: $grayish;
  }
}
