//Comment

.comment__title {
  margin: 27px 0 38px -4px;

  @include description-inputs;
}

.comment__item {
  min-width: 250px;
  min-height: 130px;
  padding: 9px 14px;

  @include label;
  font-family: $oswald;
  border: 1px solid $low-grey;
  border-radius: 0;
}
