//Contacts

.contacts {
  margin: 24px 0 0 19px;
}

.contacts__title {
  margin: 26px 0 32px -22px;

  @include description-inputs;
}

.contacts__list {
  display: flex;
  margin-left: 1px;
}

.contacts__value {
  margin: 13px 0 0 -20px;

  @include label;
  color: $special-dark-grey;
}

.contacts__item {
  flex-grow: 1;
  margin: 3px 20px -2px 10px;
  padding: 12px 50px 12px 15px;

  @include label;
  @include border;
  font-family: $oswald;
  border: 1px solid $low-grey;
  border-radius: 0;
}
