//Contacts

.contacts {
  margin: 24px 0 0 19px;

  @media (min-width: $desktop-width) {
    margin: -26px 0 -18px 19px;
  }
}

.contacts__title {
  display: flex;
  margin: 26px 0 32px -22px;

  @include description-inputs;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    width: 99px;
    height: 2px;
    margin: 16px -2px 0 0;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    margin: 75px 0 76px -23px;

    @include medium-title;

    &::after {
      margin: 22px -49px 0 43px;
    }

    &::before {
      content: "";
      width: 30px;
      height: 2px;
      margin: 22px 39px 0 -68px;
      background-color: $green;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      margin: 22px -2px 0 41px;
    }

    &::before {
      width: 70px;
      margin: 22px 40px 0 -110px;
    }
  }
}

.contacts__list-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}

.contacts__list {
  display: flex;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.contacts__label {
  margin: 0 0 0 -20px;
  padding: 14px 0 0 0;

  @include label;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    padding: 17px 0 0 0;

    @include title-tablet-desktop-auto;
  }
}

.contacts__input {
  position: relative;
  flex-grow: 1;
  margin: 0 20px 0 10px;
  padding: 13px 50px 12px 15px;

  @include label;
  @include border;
  font-family: $oswald;
  border: 1px solid $low-grey;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    margin: 0 20px 0 20px;
    padding: 10px 50px 10px 15px;

    @include title-tablet-desktop-auto;
  }
}

.contacts__input-email {
  background-image: url("../../img/icon-mail.svg");
  background-position: 187px 16px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-position: 514px 19px;
  }

  @media (min-width: $desktop-width) {
    background-position: 449px 18px;
  }
}

.contacts__input-phone {
  background-image: url("../../img/icon-phone.svg");
  background-position: 171px 12px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-position: 492px 17px;
  }

  @media (min-width: $desktop-width) {
    background-position: 429px 14px;
  }
}
