//Contacts

.contacts {
  margin: 0;
}

.contacts__title {
  margin: 15px 0 35px -20px;

  @include description-inputs;
}

.contacts__list {
  margin: 0;
  margin-left: -20px;

  @include label;
  color: $special-dark-grey;
}

.contacts__item {
  margin: 0 -20px 0 10px;
  padding: 12px 50px 12px 15px;

  @include label;
  font-family: $oswald;
  border: 1px solid $low-grey;
  border-radius: 0;
}

.email-item {
  width: 145px;
}

.phone-item {
  width: 130px;
}
