//Example

.example {
  width: 280px;
  min-height: 660px;
  padding: 25px 20px 20px 20px;
  background-color: $hoar;
  background-image: url("../../img/before-mobile@1x.png");
  background-position: 0 376px;
  background-repeat: no-repeat;
}

.example__title {
  margin: 0 0 15px 0;
  padding: 2px 0 18px 0;

  @include titie;
}

.example__text {
  font-family: $arial;
  color: $special-dark-grey;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0 0 0;
  text-align: center;
}

.example__value {
  width: 122px;
  padding: 13px 0 17px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $less-gray;
}

.example__description {
  order: 2;
  width: 55px;
  margin: -9px 21px 0 18px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  color: $special-dark-grey;
  background-color: $hoar;
}

.example__text-cost {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  margin: 307px 0 0 42px;
}
