//Example

// -Живой пример- //

//Контейнер
.example {
  min-height: 660px;
  padding: 25px 20px 20px 20px;
  background-color: $hoar;
  background-image: url("../../img/before-mobile@1x.png");
  background-position: 0 385px;
  background-repeat: no-repeat;

  //Ретинизация графики
  @media (min-resolution: 2dppx) {
    background-image: url("../../img/before-mobile@2x.png");
    background-size: 311px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 1017px;
    padding: 22px 31px 20px 30px;
    background: linear-gradient(to bottom, $white 600px, $hoar 502px);
  }

  @media (min-width: $desktop-width) {
    min-height: auto;
    padding-bottom: 49px;
    background: linear-gradient(to top, $grey 462px, $white 252px);
  }
}

//Обертка
.example__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 920px;
    background-image: url("../../img/before-tablet@1x.png");
    background-position: 16px 406px;
    background-repeat: no-repeat;

    //Ретинизация графики
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/before-tablet@2x.png");
      background-size: 690px auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: auto;
    margin: -60px 0 0 80px;
    background-image: url("../../img/before-desktop@1x.png");
    background-position: 570px 4px;
    background-repeat: no-repeat;

    //Ретинизация графики
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/before-desktop@2x.png");
      background-size: 690px auto;
    }
  }
}

//Заголовок
.example__title {
  margin: 0 0 15px 0;
  padding: 2px 0 18px 0;

  @include titie;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 0 48px 0;

    @include title-tablet-desktop-big;
  }

  @media (min-width: $desktop-width) {
    margin: -4px 0 0 0;
    padding: 60px 0 52px 0;
    width: 400px;
  }
}

//Описание
.example__text {
  font-family: $arial;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 680px;

    @include title-tablet-desktop-description;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 96px 0 31px 0;
  }
}

//Обертка результатов
.example__results {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    width: 435px;
  }
}

//Список результатов
.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 366px;
    margin: 37px 0 0 0;
  }
}

//Характеристика
.example__value {
  width: 122px;
  padding: 13px 0 17px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $less-gray;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding: 14px 0 10px 0;

    @include description-value;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 20px 0;
  }
}

//Название характеристики
.example__description {
  order: 2;
  width: 55px;
  margin: -9px 21px 0 18px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  color: $special-dark-grey;
  background-color: $hoar;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: -9px 11px 0 24px;
    padding: 0 8px;

    @include tablet-desktop-small;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey;
  }
}

//Затраты на питание
.example__text-cost {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 2;
    align-self: center;
    width: 174px;
    margin-top: 43px;
    text-align: end;

    @include cost-tablet-desktop;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-top: 50px;
  }
}

//Кнопки слайдера
.example__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  margin: 307px 0 0 42px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -50px;
    left: 68px;
    width: 570px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 19px;
    left: 649px;
    width: 571px;
    margin: 0;
  }
}

// -Живой пример- //
