//Example

.example {
  width: 280px;
  padding: 30px 20px 20px 20px;
  background-color: $hoar;
}

.example__title {
  margin: 0 0 40px 0;

  @include titie;
}

.example__text {
  font-family: $arial;
  color: $special_dark-grey;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
}

.example__description {
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
}

.example__text-cost {
  display: none;
}
