//Example

.example {
  min-height: 660px;
  padding: 25px 20px 20px 20px;
  background-color: $hoar;
  background-image: url("../../img/before-mobile@1x.png");
  background-position: 0 376px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 1017px;
    padding: 25px 31px 20px 30px;
    background: linear-gradient(to bottom, $white 600px, $hoar 502px);
  }

  @media (min-width: $desktop-width) {
    background: none;
    background-color: $grey;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 920px;
    background-image: url("../../img/before-tablet@1x.png");
    background-position: 16px 406px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    //width: 1330px;
    margin: 0 0 0 80px;
  }
}

.example__title {
  margin: 0 0 15px 0;
  padding: 2px 0 18px 0;

  @include titie;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 0 48px 0;

    @include title-tablet-desktop-big;
  }

  @media (min-width: $desktop-width) {
    margin: -25px -110px 0 -110px;
    padding: 21px 0 77px 110px;
    background-color: $white;
  }
}

.example__text {
  font-family: $arial;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 680px;

    @include title-tablet-desktop-description;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 70px 0 31px 0;
  }
}

.example__results {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 366px;
    margin: 37px 0 0 0;
  }
}

.example__value {
  width: 122px;
  padding: 13px 0 17px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid $less-gray;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding: 14px 0 10px 0;

    @include description-value;
  }
}

.example__description {
  order: 2;
  width: 55px;
  margin: -9px 21px 0 18px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  color: $special-dark-grey;
  background-color: $hoar;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: -9px 11px 0 24px;
    padding: 0 8px;

    @include tablet-desktop-small;
    background-color: $white;
  }
}

.example__text-cost {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 2;
    align-self: center;
    width: 174px;
    margin-top: 43px;
    text-align: end;

    @include cost-tablet-desktop;
  }
}

.example__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  margin: 307px 0 0 42px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -50px;
    left: 68px;
    width: 570px;
    margin: 0;
  }
}
