//Form

.form {
  margin: 0 0 0 20px;
}

.form__title {
  margin-top: 27px;
  padding-bottom: 3px;

  @include medium-title;
}

.page-form {
  text-transform: uppercase;
}

.form-button {
  min-width: 280px;
  margin: 0 0 0 1px;
  border: none;
}

.form__text-bottom {
  margin: 20px 0 31px 63px;
  font-family: $arial;
  text-transform: none;
}
