//Form

// -Подбор программы- //

//Контейнер формы
.form {
  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 57px 47px 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 69px 0 0 112px;
  }
}

//Зоголовок
.form__title {
  margin-top: 27px;
  padding-bottom: 3px;

  @include medium-title;

  @media (min-width: $tablet-width) {
    margin: 27px 0 46px -1px;

    @include title-tablet-desktop-big;
  }

  @media (min-width: $desktop-width) {
    margin: 27px 0 48px -1px;
  }
}

//Форма
.page-form {
  text-transform: uppercase;
}

//Обертка футера формы
.form-bottom__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin: 21px 0 0 -2px;
  }
}

//Кнопка отправки формы
.form-button {
  min-width: 280px;
  margin: 0 0 0 1px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 52px;

    @include title-tablet-desktop-auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

//Текст в футере формы
.form__text-bottom {
  margin: 20px 0 31px 63px;
  font-family: $arial;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 16px 0 92px 63px;

    @include catalog-description-tablet-desktop;
  }

  @media (min-width: $desktop-width) {
    margin: 18px 0 92px 82px;
  }
}

// -Подбор программы- //
