.main-nav__list {
  margin-left: -50px;
}

.main-nav__item {
  padding: 30px 70px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;

  a {
    color: $black;
  }
}
