//Main-nav

.main-nav {
  position: relative;
}

// -Выпадающее меню- //

//Кнопка показывающая/скрывающая меню
.main-nav__toggle {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: 2;
  display: block;
  width: 65px;
  height: 70px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//Состояние кнопки при закрытом меню
.main-nav--closed {
  & .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 21px;
    width: 24px;
    height: 2px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }

  //Состояние кнопки при нажатии на нее
  & .main-nav__toggle:active::before {
    background-color: rgba($black, 0.3%);
    box-shadow:
      0 8px 0 0 rgba($black, 0.3%),
      0 16px 0 0 rgba($black, 0.3%);
  }
}

//На случай если скрипт не сработает
@media (max-width: $mobile-width-only) {
  .main-nav--closed {
    & .main-nav__item {
      display: none;
    }
  }

  .main-nav--nojs {
    & .main-nav__toggle {
      display: none;
    }

    & .main-nav__item {
      display: block;
    }
  }
}

//Состояние кнопки при открытом меню
.main-nav--opened {
  & .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 36px;
      left: 18px;
      width: 30px;
      height: 2px;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba($black, 0.3%);
    }
  }
}

// -Выпадающее меню- //

// -Навигация- //

//Список навигации
.main-nav__list {
  margin: -4px 0 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0 30px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
    margin: 0 112px 0 0;
  }
}

//Конкретный пункт навигации
.main-nav__item {
  padding: 23px 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid $light-gray;

  a {
    color: $black;
  }

  &:last-child {
    border-bottom: 1px solid $light-gray;
  }

  @media (min-width: $tablet-width) {
    margin: 42px 0 8px 0;
    padding: 0 0 8px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    border: none;

    &:last-child {
      border: none;
    }

    //Правило для активного пункта навигации
    &.main-nav__item--active {
      border-bottom: 2px solid $green;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
      border-bottom: 2px solid rgba($green, 0);
    }
  }

  @media (min-width: $desktop-width) {
    margin: 72px 0 9px 0;
    padding: 0 0 9px 0;

    @include title-tablet-desktop-auto;
  }
}

//Правило для меню-навигации на главной странице для десктопной ширины
.main-nav__item--index {
  @media (min-width: $desktop-width) {
    a {
      color: $white;
    }

    //Правило для активного пункта навигации на главной странице для десктопной ширины
    &.main-nav__item--active {
      border-bottom: 2px solid $white;
    }

    &:active {
      opacity: 0.3;
      border-bottom: 2px solid rgba($white, 0);
    }
  }
}

// -Навигация- //
