//Main-nav

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0 30px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    margin: 0 112px 0 0;
  }
}

.main-nav__item {
  padding: 30px 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid $light-gray;

  &:last-child {
    border-bottom: 1px solid $light-gray;
  }

  a {
    color: $black;
  }

  @media (min-width: $tablet-width) {
    margin: 42px 0 8px 0;
    padding: 0 0 8px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    border: none;

    &:last-child {
      border: none;
    }

    &.main-nav__item--active {
      border-bottom: 2px solid $green;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 72px 0 9px 0;
    padding: 0 0 9px 0;

    @include title-tablet-desktop-auto;
  }
}

.main-nav__item--index {
  @media (min-width: $desktop-width) {
    a {
      color: $white;
    }

    &.main-nav__item--active {
      border-bottom: 2px solid $white;
    }
  }
}
