//Page-header

.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    height: 38px;
    margin: 30px 0 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 65px 0 0 130px;
  }
}

.page-header__image {
  padding: 10px 110px 10px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
