//Footer

.contacts {
  min-height: 114px;
  padding: 10px 20px;
}

.contacts-catalog-form {
  background-color: $grey;
}

.contacts__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: $arial;
  color: $special-dark-grey;
}

.contacts__map {
  height: 362px;
}

.footer-bottom__container {
  width: 320px;
  min-height: 236px;
  background-color: $grey;
}

.page-footer__logo {
  display: inline-block;
  margin: 40px 96px 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin: 0 20px;
  border: 1px solid $dark-grey;
  border-left: none;
  border-right: none;
}

.social__item {
  width: 10px;
  margin: 20px;
  fill: $social-gray;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: rgba($green, 0.3);
  }
}

.page-footer__copyright {
  padding: 40px 20px;
  font-size: 16px;
  font-family: $arial;
}

.copyright__link {
  color: $special-dark-grey;
  fill: $social-gray;

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-logo {
  &:active {
    fill: rgba($green, 0.3);
  }
}
