//Page-header

.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    height: 38px;
    margin: 24px 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 0 0 110px;
  }
}

.page-header__image {
  padding: 10px 45px 16px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
