//Page-form-programs-choose

.page-form-programs-choose__disclaimer {
  padding: 5px 0 25px 0;
  text-transform: uppercase;
}

.page-form-programs-choose__title {
  padding: 150px 0 0 0;

  @include label;
  color: $special-dark-grey;
}

.page-form-programs-choose__value {
  margin-left: 10px;
  padding: 12px 15px;
  font-family: $oswald;

  @include label;
  @include border;
}

.cat-name {
  width: 197px;
}

.cat-weight {
  width: 175px;
}

.cat-old {
  width: 135px;
}

.page-form-programs-choose__radio-wrapper {
  width: 320px;
  margin: 26px 0 0 -20px;
  border: 1px solid $dark-grey;
  border-left: none;
  border-right: none;
}

.page-form-programs-choose__list {
  margin: -3px 0 -14px -33px;

  @include label;
  color: $light-black;
}

.page-form-programs-choose__label {
  &[disabled] {
    opacity: 0.3;
  }
}

.page-form-programs-choose__radio {
  margin: 15px 25px 15px 5px;
  border: none;
}
