//Footer

.address {
  display: flex;
  padding: 8px 0 6px 0;
}

.address-catalog-form {
  background-color: $grey;
}

.address__text {
  margin: 0;
  padding: 20px 9px 20px 19px;

  @include catalog-title;
}

.address__value {
  margin: 0;
  padding: 20px 20px 20px 10px;
  font-size: 14px;
  line-height: 20px;
  font-family: $arial;
  color: $special-dark-grey;
}

.address__map {
  height: 362px;
}

.footer-bottom__container {
  width: 320px;
  min-height: 236px;
  background-color: $grey;
}

.page-footer__logo {
  display: inline-block;
  margin: 40px 96px 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin: -3px 20px;
  padding: 0;
  border: 1px solid $dark-grey;
  border-left: none;
  border-right: none;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
}

.social__item {
  width: 10px;
  margin: 7px 25px;
  fill: $social-gray;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: rgba($green, 0.3);
  }
}

.page-footer__copyright {
  font-size: 16px;
  font-family: $arial;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  width: 287px;
  padding: 32px 0 0 19px;
  color: $special-dark-grey;
  fill: $social-gray;

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-logo {
  margin-top: -16px;

  &:active {
    fill: rgba($green, 0.3);
  }
}
