//Promo

// -Промо- //

//Контейнер для "Промо"
.promo {
  min-height: 100%;
  margin: -30px 0 30px 0;
  background-image:
    url("../../img/index-can-mobile@1x.png"),
    url("../../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, $green 63%, $white 37%);
  background-position: 50% 80%, 50% 0, 50% 0;
  background-repeat: no-repeat;

  //Ретинизация графики
  @media (min-resolution: 2dppx) {
    background-image:
      url("../../img/index-can-mobile@2x.png"),
      url("../../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, $green 63%, $white 37%);
    background-size: 280px auto, 320px auto, contain;
  }

  @media (min-width: $tablet-width) {
    height: 835px;
    margin: 0;
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-position: 28px 227px;
    background-repeat: no-repeat;

    //Ретинизация графики
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  @media (min-width: $desktop-width) {
    height: 725px;
    margin: -200px 0 0 0;
    background-image:
      url("../../img/index-can-desktop@1x.png"),
      url("../../img/index-background-desktop@1x.jpg"),
      linear-gradient(to left, $green 50%, $white 50%);
    background-position: 63% 63%, 100% 5%, 0 -29px;
    background-repeat: no-repeat;

    //Ретинизация графики
    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/index-can-desktop@2x.png"),
        url("../../img/index-background-desktop@2x.jpg"),
        linear-gradient(to left, $green 50%, $white 50%);
      background-size: 552px auto, 720px auto, contain;
    }
  }
}

//Обертка для "Промо"
.promo__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 30px 30px 0 118px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin: 82px 30px 0 190px;
  }
}

//Заголовок
.promo__title {
  padding-top: 27px;

  @include medium-title;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0;

    @include title-tablet-desktop-big;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    padding-top: 225px;
  }
}

//Слоган
.promo__slogan {
  margin: -5px 0 0 -2px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 41px 20px 49px 0;

    @include title-tablet-desktop;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 20px 51px 0;
  }
}

//Выбор программы
.promo__choose-program-button {
  margin: 303px 20px -8px 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 17px 20px;
    width: 204px;

    @include title-tablet-desktop;
  }
}
