.promo {
  margin: -30px 0 -70px 0;
  height: 563px;
  background-image:
    url("../../img/index-can-mobile@1x.png"),
    url("../../img/index-background-mobile@1x.jpg");
  background-position: 20px 168px, 0 0;
  background-repeat: no-repeat, no-repeat;
}

.promo__title {
  padding-top: 25px;

  @include medium-title;
  text-align: center;
  color: $white;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.promo__choose-program-button {
  margin: 300px 0 -10px 20px;
  font-size: 14px;
  line-height: 18px;
}
