.promo {
  margin: -30px 0 0 -8px;
  position: relative;
  height: 550px;
  background-image:
    url("../../img/index-can-mobile@1x.png"),
    url("../../img/index-background-mobile@1x.jpg");
  background-position: 20px 200px, 0 0;
  background-repeat: no-repeat, no-repeat;
}

.promo__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
}

.promo__choose-program {
  position: absolute;
  top: 500px;
}
