@font-face {
  font-family: "Oswald";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/oswald-regular.woff2") format("woff2"),
    url("../../fonts/oswald-regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/oswald-medium.woff2") format("woff2"),
    url("../../fonts/oswald-medium.woff") format("woff");
}
