//Mixins

//Mixins-text
@mixin titie {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

@mixin medium-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

@mixin description-inputs {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $black;
}

@mixin title-tablet-desktop {
  font-size: 20px;
  line-height: 20px;
}

@mixin catalog-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;
}

@mixin label {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin description-text {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $special-dark-grey;
}

//Mixins-border

@mixin border {

  border: 1px solid $low-grey;

  &:hover {
    border: 1px solid $less-gray;
  }

  &:focus {
    border: 1px solid $special-dark-grey;
  }
}
