//Mixins

//Mixins-text
@mixin title-tablet-desktop-big {
  font-size: 60px;
  line-height: 60px;
}

@mixin titie {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

@mixin medium-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

@mixin description-value {
  font-size: 30px;
  line-height: 37px;
}

@mixin description-inputs {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $black;
}

@mixin cost-tablet-desktop {
  font-size: 20px;
  line-height: 30px;
}

@mixin catalog-name-tablet-desktop {
  font-size: 20px;
  line-height: 24px;
}

@mixin title-tablet-desktop {
  font-size: 20px;
  line-height: 20px;
}

@mixin title-tablet-desktop-auto {
  font-size: 20px;
  line-height: auto;
}

@mixin title-tablet-desktop-description {
  font-size: 16px;
  line-height: 24px;
}

@mixin catalog-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;
}

@mixin label {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin catalog-description-tablet-desktop {
  font-size: 16px;
  line-height: 16px;
}

@mixin tablet-desktop-small {
  font-size: 14px;
  line-height: 14px;
}

@mixin description-text {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $special-dark-grey;
}

//Mixins-border

@mixin border {

  border: 1px solid $low-grey;

  &:hover {
    border: 1px solid $less-gray;
  }

  &:focus {
    border: 1px solid $special-dark-grey;
  }
}
