//Mixins

//Mixins-text
@mixin titie {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

@mixin medium-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

@mixin catalog-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin label {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin description-text {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $special-dark-grey;
}
