//Colors

//Color text
$white: #ffffff;
$black: #000000;
$special-dark-grey: #444444;
$light-black: #222222;
$blackish: #111111;

//Color button
$green: #68b738;
$green-hover-active: #5eaa2f;

//Background-colors
$grey: #f2f2f2;
$hoar: #eaeaea;

//Colors-border
$light-gray: #e6e6e6;
$dark-grey: #d9d9d9;
$grayish: #ebebeb;
$less-gray: #cdcdcd;
$low-grey: #e7e7e7;
$least-gray: #bababa;

//Color-social
$social-gray: #666666;

//Color-plus
$grey-plus: #d3d3d3;

//Fonts

//Font-family
$oswald: "Oswald", sans-serif;
$arial: "Arial", sans-serif;

//Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
