//Colors

//Color text
$white: #ffffff;
$black: #000000;

//Color button
$green: #68b738;
$green-hover-active: #5eaa2f;

//Background-colors
$grey: #f2f2f2;
$hoar: #eaeaea;

//Colors-border
$dark-grey: #d9d9d9;

//Fonts

//Font-family
$arial: "Arial", sans-serif;
