//Colors

//Color text
$white: #ffffff;
$black: #000000;
$special-dark-grey: #444444;
$light-black: #222222;

//Color button
$green: #68b738;
$green-hover-active: #5eaa2f;

//Background-colors
$grey: #f2f2f2;
$hoar: #eaeaea;

//Colors-border
$light-gray: #e6e6e6;
$dark-grey: #d9d9d9;
$grayish: #ebebeb;
$less-gray: #cdcdcd;

//Color-social
$social-gray: #666666;

//Fonts

//Font-family
$oswald: "Oswald", sans-serif;
$arial: "Arial", sans-serif;
