//Variables

// -Набор переменных- //

//Цвет

//Цвет текста
$white: #ffffff;
$black: #000000;
$special-dark-grey: #444444;
$light-black: #222222;
$blackish: #111111;

//Цвет кнопок
$green: #68b738;
$green-hover-active: #5eaa2f;

//Цвет фона
$grey: #f2f2f2;
$hoar: #eaeaea;

//Цвет рамок
$light-gray: #e6e6e6;
$dark-grey: #d9d9d9;
$grayish: #ebebeb;
$less-gray: #cdcdcd;
$low-grey: #e7e7e7;
$least-gray: #bababa;

//Цвет иконок социальных сетей
$social-gray: #666666;

//Цвет декоративного элемента "плюс"
$grey-plus: #d3d3d3;

//Шрифты

//Семейство шрифтов
$oswald: "Oswald", sans-serif;
$arial: "Arial", sans-serif;

//Разрешения

//Мобильная ширина
$mobile-width-only: 767px;

//Планшетная ширина
$tablet-width: 768px;

//Десктопная ширина
$desktop-width: 1440px;

// -Набор переменных- //
