// Global

@import "global/global.scss";
@import "global/fonts.scss";
@import "global/variables.scss";

// Blocks

@import "blocks/page.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
